* {
  margin: 0;
  padding: 0;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

button {
  margin: 0 0.2rem;
  padding: 1rem;
  background: rgb(60, 176, 223);
  color: white;
  border: none;
  outline: none;
  border-radius: 3px;
}s

button:hover {
  background: rgb(30, 168, 223);
  transition: all 0.4s ease-in-out;
}

h1 {
  margin: 1rem;
  font-size: 3rem;
  font-weight: 200;
}
